<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <STYLE>
        .error{color: #650303
        }
    </STYLE>
</head>
<body>
<i>
    Fill Otu the form. (*) fields are required
</i>
<br><br>
<form action="#" th:action="@{/processForm}" th:object="${customer}" method="post">
       First name : <input type="text" th:field="*{firstName}" />
    <br><br>
       Last name * : <input type="text" th:field="*{lastName}" />
    <br><br>
    <!-- Add Error message-->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"  ></span>
    <br><br>
    <input type="submit" value="Submit" />

</form>

</body>
</html>